.cookCheckContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  text-align: center;
  color: white;
  border: 3px solid goldenrod;
  border-radius: 15px;
  width: 50%;
  vertical-align: center;
  background-color:rgba(0, 0, 0, 0.7);
}

.cookCheckSection {
  padding-top: 5%;
  border-bottom: 1px solid goldenrod;

  padding-bottom: 5%;
  margin-bottom: 1%;
  border-radius: 10%;
}

.cookCheckSection h3, p {
  text-align: center;
  font-family: Arial;
}

.cookCheckSection h5 {
  color: darksalmon;
}

.ingredientsRow button {
  text-align: center;
  margin-right: 3%;
  background-color: transparent;
  color: white;
}

.actionsRow button{
  margin-top: 3%;
}

