<!--The content below is only a placeholder and can be replaced.-->
<div class="loginPanelContainer">
  <div class="loginPanel shadow p-3 mb-10">
    <div class="loginPanelInnerContainer">
      <div class="loginPanelDiv">
        <input class="loginPanelInput" placeholder="username">
      </div>

      <div class="loginPanelDiv">
        <input class="loginPanelInput" placeholder="password">
      </div>

      <div class="loginPanelDiv">
        <button class="btn btn-success loginPanelButton">LOGIN</button>
      </div>

      <p>Not registered?
        <a href="" class="createAccountLink">Create an account</a>
      </p>

    </div>
  </div>
</div>



