.bannerContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  background-image: url("../assets/bkg1.jpg");
  position: fixed;
  width: 100%;
  min-height: 50%;
  text-align: center;
}

.bannerContainerTop {
  display: flex;
  text-align: center;
  flex-direction: column;
  justify-content: space-around;
  padding-top: 3%;
  height: 90%;
}

.bannerContainerTop h1, h5 {
  font-family: Arial, Helvetica, sans-serif;
  color: white;
  padding-bottom: 3%;
}

.bannerButtons {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 50%;
  align-self: center;
}

.bannerButtons button{
  background-color: transparent;
  color: white;
  min-height: 35%;
  min-width: 20%;
}

.bannerContainerBottom {
  display: flex;
  text-align: center;
  flex-direction: column;
  justify-content: space-around;
  height: 10%;

}

hr {
  border: 0.5px solid white;
  width: 100%;
}

.bannerCompany {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 70%;
  align-self: center;
}

.bannerCompany h2 {
  color: white;
}
