<!--The content below is only a placeholder and can be replaced.-->
<div class="bannerContainer">
  <div class="bannerContainerTop">
    <h1>美国硅谷一线工程师在线授课，为你打开IT名企的大门</h1>
    <h5>九章算法已经帮助 30000+ 人成功拿到心仪的Offer</h5>
    <div class="bannerButtons">
      <button class="btn btn-light">VIP 集训营</button>
      <button class="btn btn-light">课程</button>
      <button class="btn btn-light">微课堂</button>
    </div>
  </div>
  <div  class="bannerContainerBottom">
    <hr/>
    <div class="bannerCompany">
      <h2>Facebook</h2>
      <h2>Linkedin</h2>
      <h2>Amazon</h2>
      <h2>Google</h2>
    </div>
  </div>
</div>



